:root {
    --main-padding: 20px;
    --main-color: #fff;
    --main-bg: #4c4444;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flx {
    display: flex;
}
.container {
    margin: 0 auto;
    width: 90%;
    padding: var(--main-padding);
}

header, footer {
    color: var(--main-color);
    background-color: var(--main-bg);
    height: 70px;
}
header .container {
    display: flex;
    justify-content: space-between;
}
main {
    min-height: 767px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.categories {
    padding: 40px;
    gap: 40px;
}
.product-category img {
    padding-bottom: 10px;
}
.product-category h2 {
    text-align: center;
    text-transform: capitalize;
}
.categories a {
    text-decoration: none;
    color: #000;
}